{% extends "base.html" %}
{% block page_title %}Page not found{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <h2>This page does not exist yet.</h2>
            <p>You can contribute this page by forking the repository at:
                <a href='https://github.com/ronreiter/interactive-tutorials'>https://github.com/ronreiter/interactive-tutorials</a>.
            </p>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
