{% extends "base.html" %}
{% block page_title %}{{ html_title }}{% endblock %}
{% block head %}
{% autoescape off %}
<script>
    var domainData = {{ domain_data_json }};
    var nextChapter = "/{{ language_code }}/{{ next_chapter }}";
    var previousChapter = "/{{ language_code }}/{{ previous_chapter }}";
    var backChapter = "/{{ language_code }}/{{ back_chapter }}";
    var tutorialData = {{ tutorial_data_json }};
</script>
{% endautoescape %}
<script src="/static/js/learnpython.js"></script>
{% endblock %}

{% block title %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogtitle %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogurl %}{{ domain_data.full_url }}{% if tutorial_page %}/{{ path }}{% endif %}{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">
        <div class="col-12">

            <div class="mb-3">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Interactive Tutorials Top -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3723950136133694"
                     data-ad-slot="2345161899"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

{#            <div class="mb-3">#}
{#                <a href="https://chrome.google.com/webstore/detail/technews/babfhcgjchdmjknpmbdpcfggaonhimlj" target="_blank"><img src="/static/img/banners/technews-banner-wide.png" style="width: 100%"/></a>#}
{#            </div>#}

            {% if page_title %}
                <ul class="breadcrumb" style="margin-top: 10px">
                    {% if back_chapter %}
                        <li><a href="/{{ language_code }}/{{ back_chapter }}">{{ back_chapter }}</a> <span
                                class="divider mr-1">/</span></li>
                    {% endif %}
                    <li class="active">{{ page_title }}</li>
                </ul>
            {% endif %}

        </div>

    </div>

    <div class="row">

        <div class="col col-lg-10">
            <div id="inner-text">{% autoescape off %}
                {% if page_title %}
                    <h1>{{ page_title }}</h1>
                    <hr/>
                {% endif %}
                {{ text }}
            {% endautoescape %}</div>

            <div class="row mt-2">
                <div class="col">
                    <button id="start-exercise" class="btn btn-success pull-left mt-2" onclick="reset()">
                        <i class="fas fa-play"></i> Start Exercise
                    </button>
                </div>
            </div>

            <hr/>

            <div class="row mt-2 mb-2">
                <div class="col">
                    {% if previous_chapter %}
                        <a class="btn btn-primary pull-left" href="/{{ language_code }}/{{ previous_chapter }}">
                            <i class="fas fa-angle-double-left"></i> Previous Tutorial
                        </a>
                    {% endif %}


                    {% if next_chapter %}
                        <a class="btn btn-primary pull-right" href="/{{ language_code }}/{{ next_chapter }}">
                            Next Tutorial <i class="fas fa-angle-double-right"></i>
                        </a>

                    {% endif %}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Bottom -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="6124145877"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

        </div>

        <div class="col-2 d-none d-lg-block mt-2">
            <div id="google-ad-right">
                <h4>Sponsors</h4>
                <hr/>
{#                <div class="mt-3">#}
{#                    <a href="http://onelink.to/5tw9ex"><img src="/static/img/banners/typetap-banner.png" target="_blank"></a>#}
{#                </div>#}
                <div class="mt-3">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Right -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="5528539062"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="mt-3">
                    <a href="https://digitalocean.com/" target="_blank" >
                        <img src="/static/img/banners/digital-ocean.svg" style="width: 160px" alt="Digital Ocean">
                    </a>
                </div>
                <div class="mt-3">
                    <a href="http://www.spoj.com/?utm_campaign=permanent&utm_medium=banner&utm_source=learnx" target="_blank">
                        <img src="/static/img/logos/spoj.png" style="width: 160px" alt="Sphere Engine">
                    </a>
                </div>
                <h4 class="mt-3">Chapters</h4>
                <hr/>
                <div class="mt-2">
                    {% for link, link_href in site_tutorial_links %}
                        <div>
                            <a href="{{ link_href }}">{{ link }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div> <!-- row -->

</div>

{% include "footer.html" %}

<footer id="dock">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="code-window">
                    <div class="row mb-2">
                        <div class="col-2">
                            <h5>Code</h5>
                        </div>

                        <div class="col-10 text-right">
                            <button id="run-button" class="btn btn-success btn-sm" onclick="execute()">
                                <i class="fas fa-play"></i> Run
                            </button>
                            <button id="reset-button" onclick="reset()" class="btn btn-primary btn-sm">
                                <i class="fas fa-sync-alt"></i> Reset</button>
                            <button id="solution-button" onclick="showSolution()" class="btn btn-primary btn-sm">Solution</button>

                            <button id="toggle-dock-button" class="btn btn-primary btn-sm" onclick="toggleMinimize()">
                                <span class="maximized">
                                    <i class="fas fa-angle-double-down"></i>
                                </span>
                                <span class="minimized">
                                    <i class="fas fa-angle-double-up"></i>
                                </span>
                            </button>

                        </div>
                    </div>

                    <div class="row footer-toggle">
                        <div class="col">
                            <textarea id="code">{{ code.decode('utf8') }}</textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="output-window">
                    <div class="row mb-2">
                        <div class="col-3">
                            <h5>Output</h5>
                        </div>
                        <div class="col-9 text-right">
                            <button id="expected-output-button" class="btn btn-primary btn-sm" onclick="showExpected()">
                                Expected Output
                            </button>

                        </div>

                    </div>
                    <div class="row footer-toggle">
                        <div class="col">
                            <div id="text-output">
                                <textarea id="output"></textarea>
                                <div class="powered-by-sphere">
                                    Powered by <a target="_blank" href="http://sphere-engine.com/">Sphere Engine &trade;</a>
                                </div>
                            </div>
                            <iframe id="html-output"
                                    style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                            <iframe id="expected-output"
                                    style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>



{% endblock %}
