{% extends "base.html" %}
{% block page_title %}{{ html_title }}{% endblock %}
{% block head %}
{% autoescape off %}
<script>
    var domainData = {{ domain_data_json }};
    var nextChapter = "/{{ language_code }}/{{ next_chapter }}";
    var previousChapter = "/{{ language_code }}/{{ previous_chapter }}";
    var backChapter = "/{{ language_code }}/{{ back_chapter }}";
    var tutorialData = {{ tutorial_data_json }};
</script>
{% endautoescape %}
<script src="/static/js/learnpython.js"></script>
{% endblock %}

{% block title %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogtitle %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogurl %}{{ domain_data.full_url }}{% if tutorial_page %}/{{ path }}{% endif %}{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">
        <div class="col-12">

            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Interactive Tutorials Top -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-3723950136133694"
                     data-ad-slot="2345161899"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            {% if page_title %}
                <ul class="breadcrumb" style="margin-top: 10px">
                    {% if back_chapter %}
                        <li><a href="/{{ language_code }}/{{ back_chapter }}">{{ back_chapter }}</a> <span
                                class="divider mr-1">/</span></li>
                    {% endif %}
                    <li class="active">{{ page_title }}</li>
                </ul>
            {% endif %}

        </div>

    </div>

    <div class="row">

        <div class="col col-lg-10">
            <span id="inner-text">{% autoescape off %}
                {% if page_title %}
                    <h1>{{ page_title }}</h1>
                    <hr/>
                {% endif %}
                {{ text }}
            {% endautoescape %}</span>

            <div class="row mt-2">
                <div class="col">
                    <button id="start-exercise" class="btn btn-success pull-left" onclick="reset()">
                        <i class="fas fa-play"></i> Start Exercise
                    </button>
                </div>
            </div>

            <hr/>

            <div class="row mt-2 mb-2">
                <div class="col">
                    {% if previous_chapter %}
                        <a class="btn btn-primary pull-left" href="/{{ language_code }}/{{ previous_chapter }}">
                            <i class="fas fa-angle-double-left"></i> Previous Tutorial
                        </a>
                    {% endif %}


                    {% if next_chapter %}
                        <a class="btn btn-primary pull-right" href="/{{ language_code }}/{{ next_chapter }}">
                            Next Tutorial <i class="fas fa-angle-double-right"></i>
                        </a>

                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <a href="https://click.linksynergy.com/fs-bin/click?id=2mhs2G02AJA&offerid=507388.1387&subid=0&type=4">
                        <IMG border="0" src="https://ad.linksynergy.com/fs-bin/show?id=2mhs2G02AJA&bids=507388.1387&subid=0&type=4&gridnum=16" style="max-width: 100%">
                    </a>
                </div>
            </div>

            <div class="row mt-3 d-none d-lg-block">
                <div class="col">
                    <a href="http://www.spoj.com/?utm_campaign=permanent&utm_medium=banner&utm_source=learnx" target="_blank"><img src="https://www.spoj.com/gfx/spoj-banner1.png"/></a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Bottom -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="6124145877"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    {% if domain_data.courses %}
                    <h3>Online Courses</h3>
                    <div class="row">

                        {% for course in domain_data.courses %}
                            <div class="course col-sm-6 col-lg-2">
                                <a href="{{ course.link }}">
                                    <img src="{{ course.image_url }}">
                                    <p style="font-weight: bold; margin-top: 10px; font-size: 14px">{{ course.link_name }}</p>
                                </a>
                                <img src="{{ course.pixel_url }}" width="1" height="1" border="0"/>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>


        </div>

        <div class="col-2 d-none d-lg-block mt-2">
            <div id="google-ad-right">
                <div style="margin-bottom: 10px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Right -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="5528539062"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                {#
                <div style="margin-bottom: 10px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Right 2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="3908211929"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>
                 #}

                <a href="https://click.linksynergy.com/fs-bin/click?id=2mhs2G02AJA&offerid=467035.354&subid=0&type=4"><IMG border="0"   alt="Online computer science courses to jumpstart your future." src="https://ad.linksynergy.com/fs-bin/show?id=2mhs2G02AJA&bids=467035.354&subid=0&type=4&gridnum=9"></a>

                <h4 class="mt-3">Sponsors</h4>
                <div style="margin-top: 10px">
                    <a href="https://digitalocean.com/"><img src="/static/img/banners/digital-ocean.png" style="width: 160px"></a>
                </div>

            </div>
        </div>

    </div> <!-- row -->





</div>

{% include "footer.html" %}

<footer id="dock">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="code-window">
                    <div class="row mb-2">
                        <div class="col-2">
                            <h5>Code</h5>
                        </div>

                        <div class="col-10 text-right">
                            <button id="run-button" class="btn btn-success btn-sm" onclick="execute()">
                                <i class="fas fa-play"></i> Run
                            </button>
                            <button id="reset-button" onclick="reset()" class="btn btn-primary btn-sm">
                                <i class="fas fa-sync-alt"></i> Reset</button>
                            <button id="solution-button" onclick="showSolution()" class="btn btn-primary btn-sm">Solution</button>

                            <button id="toggle-dock-button" class="btn btn-primary btn-sm" onclick="toggleMinimize()">
                                <span class="maximized">
                                    <i class="fas fa-angle-double-down"></i>
                                </span>
                                <span class="minimized">
                                    <i class="fas fa-angle-double-up"></i>
                                </span>
                            </button>

                        </div>
                    </div>

                    <div class="row footer-toggle">
                        <div class="col">
                            <textarea id="code">{{ code.decode('utf8') }}</textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-lg-6 mt-3">
                <div class="output-window">
                    <div class="row mb-2">
                        <div class="col-3">
                            <h5>Output</h5>
                        </div>
                        <div class="col-9 text-right">
                            <button id="expected-output-button" class="btn btn-primary btn-sm" onclick="showExpected()">
                                Expected Output
                            </button>

                        </div>

                    </div>
                    <div class="row footer-toggle">
                        <div class="col">
                            <div id="text-output">
                                <textarea id="output"></textarea>
                                <div class="powered-by-sphere">
                                    Powered by <a target="_blank" href="http://sphere-engine.com/">Sphere Engine &trade;</a>
                                </div>
                            </div>
                            <iframe id="html-output"
                                    style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                            <iframe id="expected-output"
                                    style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>



{% endblock %}
