{% extends "base.html" %}
{% block page_title %}{{ html_title }}{% endblock %}
{% block head %}
{% autoescape off %}
<script>
    var domainData = {{ domain_data_json }};
    var nextChapter = "/{{ language_code }}/{{ next_chapter }}";
    var previousChapter = "/{{ language_code }}/{{ previous_chapter }}";
    var backChapter = "/{{ language_code }}/{{ back_chapter }}";
    var tutorialData = {{ tutorial_data_json }};
</script>
{% endautoescape %}
<script src="/static/js/learnpython.js"></script>
{% endblock %}

{% block title %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogtitle %}{% if tutorial_page %}{{ page_title }} - {% endif %}Learn {{ domain_data.language_uppercase }} - Free
    Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}
{% block ogurl %}{{ domain_data.full_url }}{% if tutorial_page %}/{{ path }}{% endif %}{% endblock %}

{% block content %}
<div class="container" id="main">
    <div class="row">
        <div class="col-12">

            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Interactive Tutorials Top -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-3723950136133694"
                     data-ad-slot="2345161899"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            {% if page_title %}
                <ul class="breadcrumb" style="margin-top: 10px">
                    {% if back_chapter %}
                        <li><a href="/{{ language_code }}/{{ back_chapter }}">{{ back_chapter }}</a> <span
                                class="divider mr-1">/</span></li>
                    {% endif %}
                    <li class="active">{{ page_title }}</li>
                </ul>
            {% endif %}

        </div>

    </div>

    <div class="row">

        <div class="col-5">





            <span id="inner-text">{% autoescape off %}
                {% if page_title %}
                    <h1>{{ page_title }}</h1>
                    <hr/>
                {% endif %}
                {{ text }}
                {% endautoescape %}
            </span>

            <button id="start-exercise" class="btn btn-success" onclick="toggleMinimize(true); reset()">
                <div class="icon-play icon-white" style="padding-right: 10px"></div> Start Exercise</button>





        </div>

        <div class="col-5">
            <div class="sticky-top">

                <div class="code-window">

                    <h5 style="line-height: 28px">Code</h5>
                    <div class="mb-1">
                        <button id="run-button" class="btn btn-success btn-sm" onclick="execute()">
                            <div
                                    class="icon-play icon-white" style="padding-right: 10px"></div>
                            Run
                        </button>
                        <button id="reset-button" onclick="reset()" class="btn btn-primary btn-sm">Reset</button>
                        <button id="solution-button" onclick="showSolution()" class="btn btn-primary btn-sm">Solution
                        </button>

                    </div>

                    <div class="footer-toggle">
                        <textarea id="code" style="width: 100%; height: 210px">{{ code.decode('utf8') }}</textarea>
                    </div>

                </div>

                <div class="output-window">
                    <div style="width: 100%; height: 100%">
                        <h5 style="line-height: 28px">Output</h5>
                        <div class="mb-1">
                            <button id="expected-output-button" class="btn btn-primary btn-sm" onclick="showExpected()">
                                Expected Output
                            </button>
                        </div>

                    </div>

                    <div class="footer-toggle">
                        <div id="loading">
                            Executing, please wait...
                        </div>
                        <div id="text-output">
                            <textarea id="output" style="width: 475px; height: 210px"></textarea>
                            <div style="background: rgba(255,255,255,0.1); margin-top: -20px; text-align: right; font-size: 10px; color: white; z-index: inherit; position: relative; line-height: 20px; padding-right: 5px;">
                                Powered by <a target="_blank" href="http://sphere-engine.com/">Sphere Engine &trade;</a>
                            </div>
                        </div>
                        <iframe id="html-output"
                                style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                        <iframe id="expected-output"
                                style="border: 1px solid #ccc; box-sizing: border-box; background-color: white; display: none; height: 200px; width: 100%"></iframe>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-2 hidden-phone">
            <div id="google-ad-right">
                <div style="margin-bottom: 10px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Right -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="5528539062"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div style="margin-bottom: 10px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Right 2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="3908211929"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>

                <h4>Online Courses</h4>

                <a href="https://click.linksynergy.com/fs-bin/click?id=2mhs2G02AJA&offerid=358574.1386&subid=0&type=4"><IMG
                        style="width: 100%" alt="Programming Category (English)300x250"
                        src="https://ad.linksynergy.com/fs-bin/show?id=2mhs2G02AJA&bids=358574.1386&subid=0&type=4&gridnum=13"></a>

                {# <a target="_blank"  href="https://www.amazon.com/gp/product/B00NB86OYE/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00NB86OYE&linkCode=as2&tag=interactivetu-20&linkId=c1368e9bd84bc242ab9f8fe8d62b4144"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NB86OYE&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=interactivetu-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=interactivetu-20&l=am2&o=1&a=B00NB86OYE" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />  #}

                <h4>Sponsors</h4>
                <div style="margin-top: 10px">
                    <a href="https://digitalocean.com/"><img src="/static/img/banners/digital-ocean.png"
                                                             style="width: 160px"></a>
                </div>

            </div>
        </div>

    </div> <!-- row -->

    <div class="row">
        <div class="col-12">
            <script type="text/javascript" src="https://www.spoj.com/banner.js"></script>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="hidden-phone">
                <div>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Interactive Tutorials Bottom -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3723950136133694"
                         data-ad-slot="6124145877"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-10">
            {% if previous_chapter %}
                <a class="btn btn-primary pull-left" href="/{{ language_code }}/{{ previous_chapter }}"><i
                        class="icon-chevron-left icon-white"></i> Previous Tutorial</a>
            {% endif %}
            {% if next_chapter %}
                <a class="btn btn-primary pull-right" href="/{{ language_code }}/{{ next_chapter }}">Next Tutorial
                    <i class="icon-chevron-right icon-white"></i></a>
            {% endif %}
        </div>
    </div>

    {% if domain_data.courses %}
        <div class="row">
            <div class="col-12">

                <h3>Online Courses</h3>
                <div class="row">

                    {% for course in domain_data.courses %}
                        <div class="course col-2">
                            <a href="{{ course.link }}">
                                <img src="{{ course.image_url }}">
                                <p style="font-weight: bold; margin-top: 10px; font-size: 14px">{{ course.link_name }}</p>
                            </a>
                            <img src="{{ course.pixel_url }}" width="1" height="1" border="0"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% include "footer.html" %}

{% endblock %}
