{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="title">Privacy Policy</h1>
            <hr/>
            <p>We do not collect any personal information.</p>
            <p>We do, however, use Google Analytics to collect usage information. You must agree to have your usage data to be
                collected by Google Analytics if you wish to use this website.</p>
        </div>
    </div>
    {% include "small-footer.html" %}
{% endblock %}
