{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
	<div class="col">

<h1 class="title">Terms &amp; Conditions</h1>
<hr/>

<h3>
        1. General</h3>
    <p>
        1.1 This agreement (“Agreement”) governs
            your use of the website and mobile applications operated by {{ domain_data.styled_domain }} ("{{ domain_data.styled_domain }}"), and the related services (collectively, the "Service").
            {{ domain_data.styled_domain }}’s Privacy Policy, and additional terms and conditions of use applicable
            to specific areas of the Service may also be posted in such areas and, together
            with this agreement, govern your use of those areas. This agreement, together with
            any such additional terms and conditions, are referred to as this "Agreement."
            Your registration, subscription or use of this Site or mobile application or mobile application indicates your acceptance of these terms.


    </p>
    <p>
        1.2 {{ domain_data.styled_domain }} reserves the right,
            in its discretion, to change or modify all or any part of this Agreement at any
            time, effective immediately upon notice published on our Site or mobile application. Your continued use
            of the Service constitutes your binding acceptance of these terms and conditions,
            including any changes or modifications made by {{ domain_data.styled_domain }} as permitted above. Please
            be sure to review this Agreement periodically to ensure familiarity with the most
            current version. If at any time the terms and conditions of this Agreement are no
            longer acceptable to you, you should immediately cease all use of the Service.


    </p>
    <p>
        1.3 The Service is directed to adults
            and is not directed to children under the age of 13. You must be 13 years of age
            or older to use the Service. {{ domain_data.styled_domain }} Media complies with the Children's Online
            Privacy Protection Act and does not permit registration by and will not knowingly
            collect personally identifiable information from anyone under 13. By registering
            for the Service, you represent and warrant that you are 13 years of age or older.
            Additionally, you must provide true, accurate and complete registration information
            to become a member of the Service ("Member"). Creating a Member account under automated
            means or under false or fraudulent pretenses constitutes unauthorized use of the
            Service and such accounts will be terminated by {{ domain_data.styled_domain }}.


    </p>
    <p>
        By using the Service, you represent
            and warrant that all registration information you submit is truthful and accurate
            and you agree to the accuracy of such information. The profile that you compose
            upon registering for the Service (the "Member Profile") must describe you, an individual
            person. Examples of inappropriate profiles include, but are not limited to, profiles
            that purport to represent an animal, place, inanimate object, fictional character,
            or real individual who is not you. If you wish to view or change your profile, you
            can do so via the profile page links listed in the {{ domain_data.styled_domain }} Privacy Policy.

        </p>



    <h3>
        2. Use of Content
    </h3>

        <p>The Service provides general information only and does not constitute legal advice.</p>

    <p>
        2.1 You acknowledge that the Service
            contains information, software, photographs, audio and video clips, graphics, links
            and other material of {{ domain_data.styled_domain }} (collectively, the "Content") that are protected
            by copyright, trademark or other proprietary rights of {{ domain_data.styled_domain }} or third parties.
            All Content on the Service is copyrighted as a collective work of {{ domain_data.styled_domain }} pursuant
            to applicable copyright law. You agree to comply with any copyright notices, information,
            or restrictions contained in any Content available on or accessed through the Service.
            Users of the Service may use the Content only for their personal, noncommercial
            use. Businesses, organizations or other legal entities may not become Members and
            are not permitted to use the Service for any purpose, including but not limited
            to collecting usernames and /or email addresses of Members by electronic or other
            means for the purpose of sending unsolicited email and unauthorized framing of or
            linking to the Service.</p>
    <p>
        2.2 Except as expressly permitted
            in Section 2.3 of this Agreement, you may not modify, publish, transmit, reproduce,
            create derivative works from, distribute, perform, display, sell, transfer or in
            any way exploit any of the Content or Material, in whole or in part. Content consisting
            of downloadable software may not be reverse engineered unless specifically authorized
            by the owner of the software's patent and/or copyright. You also agree not to circumvent,
            disable or otherwise interfere with any security related features of the Service
            or the Content, including features that prevent or restrict use or copying or that
            enforce limitations on use.


    </p>


    <p>
        2.3 You may download, copy and make
            any personal, non-commercial use of the Content and use that is permitted by Sections
            107 through 122 of the United States Copyright Act of 1976, as amended ("Copyright
            Act") and not prohibited by any section of the Copyright Act or by any other applicable
            law, rule or regulation; provided, however, that you maintain all copyright and
            other notices contained in such Content; and provided further that you shall not
            store electronically any significant portion of any Content.


    </p>
    <p>
        It is your responsibility to check
            the accuracy or relevant facts and opinions given on the Site or mobile application before entering into
            any commitment based upon them.</p>
    <h3>
        3. Rules of Conduct


    </h3>

        The following is an incomplete list
            of illegal and prohibited uses of the Service. {{ domain_data.styled_domain }} may investigate any illegal
            and/or unauthorized use of the Service and appropriate legal action may be taken,
            including without limitation, termination of your right to access the Service, and
            civil, criminal, and injunctive redress. While utilizing the Service, you may not:<p></p>
    <p>
            </p><ul>
               <li>use the Service for any commercial
                    purpose, to distribute any advertising or solicitation of funds or goods and services,
                    or to solicit users to join competitive online services;</li>
            <li>post on the Service any links to
                    any external Internet Site or mobile applications that are obscene or pornographic, or display pornographic
                    or sexually explicit material of any kind;</li>
            <li>use any robot, spider, Site or mobile application search
                    and/or retrieval application, or other device to retrieve or index any portion of
                    the Service;</li>
            <li>reformat or frame any portion of
                    any web page that is part of the Service;</li>

            <li>post Material containing restricted
                    or password only access pages, or hidden pages or images (those not linked to or
                    from another accessible page);</li>
            <li>submit any Material that falsely
                    implies sponsorship of that Material by the Service and/or {{ domain_data.styled_domain }}, falsify or
                    delete any author attributions in any Materials, or promote any information that
                    you know is false or misleading;</li>


            <li>transmit any viruses, worms, defects,
                    Trojan horses or other items of a contaminating or destructive nature through the
                    Service;</li>
            <li>submit Material that violates the
                    rights of others, such as Material that infringes any copyright, trademark, patent,
                    trade secret or violates any right of privacy or publicity, or that is libelous
                    or defamatory, or that directs any user, by linking or any other method, to the
                    content of a third party without the third party's written consent;</li>


            <li>promote an illegal or unauthorized
                    copy of another person's copyrighted work, such as providing pirated computer programs
                    or videos or links to them, providing information to circumvent manufacture-installed
                    copy-protect devices, or providing pirated music or links to pirated music files;
                    or</li>

            <li>submit Material that is libelous,
                    defamatory, obscene, pornographic, abusive, harassing, threatening, unlawful or
                    promotes or encourages illegal activity.</li>
            </ul>
   <p></p>
    <h3>
        4. Managing Content


    </h3>
    <p>
        {{ domain_data.styled_domain }} reserves the right to delete,
            move or edit any Content (including Material posted in any interactive area of the
            Service) that it may determine, in its sole discretion, violates this Agreement
            or is otherwise unacceptable. However, {{ domain_data.styled_domain }} does not and cannot review all
            of the Content posted by users on the Service and is not responsible for such Content.
            You shall remain solely responsible for all Material. Although {{ domain_data.styled_domain }} reserves
            the right to remove any offending Content on the Service, you understand and agree
            that you nonetheless may be exposed to such Material and that you further waive
            your right to any damages (from any party) related to such exposure.


    </p>
    <p>
        Additionally, {{ domain_data.styled_domain }} shall have
            the right, but not the obligation, to correct any errors or omissions in any Content,
            as it may determine in its sole discretion.


    </p>
    <h3>
        5. No Endorsement


    </h3>
    <p>
        5.1 {{ domain_data.styled_domain }} does not represent or
            endorse the accuracy or reliability of any Content posted on any interactive area
            and you acknowledge that any reliance upon such Content shall be at your sole risk.
            Any Content placed on any interactive area by users represents the views of the
            user posting the statement, and does not represent the views of {{ domain_data.styled_domain }}.


    </p>
    <p>
        5.2 The Service may contain links
            to Site or mobile applications on the Internet which are owned and operated by third parties (the "External
            Site or mobile applications"). You acknowledge that {{ domain_data.styled_domain }} is not responsible for the availability
            of, or the content located on or through, any External Site or mobile application. You should contact
            the Site or mobile application administrator or webmaster for those External Site or mobile applications if you have any concerns
            regarding such links or the content located on such External Site or mobile applications.


    </p>
    <h3>
        6. Indemnity


    </h3>
    <p>
        You agree to indemnify, defend and
            hold {{ domain_data.styled_domain }} and its affiliates, and their respective officers, directors, owners,
            agents, information providers and licensors (collectively, the "{{ domain_data.styled_domain }} Parties")
            harmless from and against any and all claims, liability, losses, damages, costs
            and expenses (including attorneys' fees) incurred by any {{ domain_data.styled_domain }} Party in connection
            with any Material or with use or alleged use of any Content or the Service, including
            any use under your password by any person, whether or not authorized by you. {{ domain_data.styled_domain }}
            reserves the right, at its own expense, to assume the exclusive defense and control
            of any matter otherwise subject to indemnification by you, and in such case, you
            agree to cooperate with {{ domain_data.styled_domain }}'s defense of such claim.


    </p>
    <h3>
        7. Termination of Service
    </h3>

    <p>
    Upon commencement of a Subscription, initiated either by phone, online, or e-mail, or postal mail,
    there are no cancellations and no refunds of Subscription Fees or any portion thereof will be given
    under any circumstances. </p>

    <p>
        {{ domain_data.styled_domain }} reserves the right, in its
            sole discretion, to restrict, suspend or terminate your access to all or any part
            of the Service, including the discussion areas, at any time for any reason without
            prior notice or liability. Conversely, you may terminate your membership of the
            Service at any time, for any reason, by emailing {{ domain_data.styled_domain }} at <b>
                <a href="mailto:{{ domain_data.support_email }}">{{ domain_data.support_email }}</a></b>.
            Once your membership terminates, you will have no right to use the Service. The
            terms of this Agreement shall survive any termination of your membership. {{ domain_data.styled_domain }}
            may change, suspend or discontinue all or any aspect of the Service at any time,
            including the availability of any feature, database, or Content (including the discussion
            areas), without prior notice or liability.


    </p>
    <h3>
        8. Copyright Policy</h3>
    <p>
        You may not post, distribute, perform,
            display, transmit or reproduce in any way any copyrighted material, trademarks,
            or other proprietary information without obtaining the prior written consent of
            the owner of such proprietary rights. Without limiting the foregoing, if you believe
            that your work has been copied and posted on the Service in a way that constitutes
            copyright or trademark infringement, please contact the editor
                of the product located in the "About Us" or "Contact Us" sections of the webSite or mobile application
            with the following information: (a) an electronic or physical signature of
            the person authorized to act on behalf of the owner of the copyright or trademark
            interest; (b) a description of the copyrighted work(s) or trademark(s) that you
            claim has been infringed; (c) a description of where the material that you claim
            is infringing is located on the WebSite or mobile application; (d) your address, telephone number, and
            email address; (e) a written statement by you that you have a good faith belief
            that the disputed use is not authorized by the copyright or trademark owner, its
            agent, or the law; and (f) a statement by you, made under penalty of perjury, that
            the above information in your notice is accurate and that you are the copyright
            or trademark owner or authorized to act on the copyright or trademark owner's behalf.


    </p>

    <h3>
        9. Disclaimer of Warranties; Limitation
            of Liability.


    </h3>
    <p>
        9.1 NEITHER {{ domain_data.styled_domain }} NOR ANY PROVIDER
            OF THIRD PARTY CONTENT OR THEIR RESPECTIVE AGENTS WARRANTS THAT THE CONTENT OR THE
            SERVICE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES {{ domain_data.styled_domain }}, ANY THIRD PARTY
            CONTENT PROVIDER, OR THEIR RESPECTIVE AGENTS MAKE ANY WARRANTY AS TO THE RESULTS
            TO BE OBTAINED FROM USE OF THE SERVICE OR THE CONTENT. THE SERVICE AND THE CONTENT
            ARE DISTRIBUTED ON AN "AS IS, AS AVAILABLE" BASIS. NONE OF {{ domain_data.styled_domain }}, THIRD PARTY
            CONTENT PROVIDERS OR THEIR RESPECTIVE AGENTS MAKES ANY WARRANTIES OF ANY KIND, EITHER
            EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE OR IMPLIED
            WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT
            TO THE SERVICE, ANY CONTENT OR ANY PRODUCTS OR SERVICES SOLD THROUGH THE SERVICE.
            NEITHER {{ domain_data.styled_domain }} NOR ANY THIRD PARTY CONTENT PROVIDER WARRANTS THAT ANY FILES AVAILABLE
            FOR DOWNLOADING THROUGH THE SERVICE WILL BE FREE OF VIRUSES OR SIMILAR CONTAMINATION
            OR DESTRUCTIVE FEATURES.


    </p>
    <p>
        You expressly agree that the entire
            risk as to the quality and performance of the Service and the accuracy or completeness
            of the Content is assumed solely by you. You specifically acknowledge that {{ domain_data.styled_domain }}
            is not responsible or liable for any unauthorized access to or alteration of your
            Materials, data or other transmissions entered into through the Service or for any
            threatening, defamatory, obscene, offensive or illegal Content or for conduct of
            any other party or for any infringement of another's rights.


    </p>
    <p>
        Please note that a small number of
            people may experience epileptic seizures when exposed to certain light patterns
            on a computer screen like those displayed when using the Service. Consult your physician
            prior to using the Service if you have had any epileptic symptoms (such as eye or
            muscle twitches, dizziness, altered vision, disorientation, loss of awareness, involuntary
            movements or convulsions) and discontinue use of the Service immediately if you
            experience any such symptoms.</p>
    <p>
        9.2 NEITHER {{ domain_data.styled_domain }}, ANY THIRD PARTY
            CONTENT PROVIDER NOR THEIR RESPECTIVE AGENTS SHALL BE LIABLE FOR ANY DIRECT, INDIRECT,
            INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OF OR INABILITY
            TO USE THE SERVICE, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
            DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE Site or mobile application, Site or mobile application-RELATED SERVICES,
            AND/OR HYPERLINKED WEB Site or mobile applicationS IS TO STOP USING THE Site or mobile application AND/OR THOSE SERVICES.</p>
    <p>
        9.3 Some states do not allow exclusion
            of implied warranties or limitation of liability for incidental or consequential
            damages, so the above limitations or exclusions may not apply to you. In such states,
            the liability of {{ domain_data.styled_domain }}, third party content providers and their respective agents
            shall be limited to the greatest extent permitted by law.


    </p>
    <h3>
        10. Member Disputes


    </h3>
    <p>
        You are solely responsible for your
            interactions with other Members of the Service. {{ domain_data.styled_domain }} reserves the right, but
            has no obligation, to monitor disputes between you and other Members.</p>
    <h3>
        11. Special Admonitions for International
            Use


    </h3>
    <p>
        As a consequence of the global nature
            of the Internet, you agree to comply with all local rules regarding user conduct
            on the Internet and acceptable content. Specifically, you agree to comply with all
            applicable laws regarding the transmission of technical data exported from the United
            States or the country in which you reside.


    </p>
    <h3>
        12. Links</h3>
    <p>

            Some of the pages on the Site or mobile application include links to external webSite or mobile applications.  These links are included to give users the opportunity to access
            other pages that it is felt may be of assistance to them.
            Except for {{ domain_data.styled_domain }} owned links, {{ domain_data.styled_domain }} is not responsible for the content
            of these internet Site or mobile applications.</p>
    <h3>
        13.Viruses


    </h3>
    <p>

            While efforts have been taken to ensure that the pages on the Site or mobile application are free from
            viruses, {{ domain_data.styled_domain }} gives no warranties that they are indeed free from viruses and
            users are responsible for ensuring that they have installed adequate virus checking
            software.</p>
    <p>

            {{ domain_data.styled_domain }} excludes, in so far as it is legally responsible, all liability and responsibility
            (other than liability for death or physical injury arising out of the negligence
            of {{ domain_data.styled_domain }} or its officers) for any viruses or any other computer code, files
            or programs designed to interrupt, restrict, destroy, limit the functionality of
            or compromise the integrity of any computer software or hardware or telecommunications
            equipment or other material transmitted with or as part of:


    </p>
    <p>

            The pages on the Site or mobile application or any other Internet Site or mobile applications;</p>
    <p>

            Any material downloaded from the Site or mobile application or any other Internet Site or mobile applications;</p>
    <p>

            Any publication, product or service.</p>
    <h3>
        14. Miscellaneous; Jurisdiction of
            Disputes


    </h3>
    <p>
        This Agreement shall be construed
            in accordance with the laws of the State of New York, without reference to principles
            of choice of law. You and {{ domain_data.styled_domain }} each irrevocably consent to the personal jurisdiction
            of the federal or state courts located in New York, New York, the Borough of Manhattan
            (the "Courts") with respect to any action, suit or proceeding arising out of or
            related to this Agreement or to the Service (including without limitation any Content)
            and waive any objection to venue in any of the Courts for such an action, suit or
            proceeding (whether based on forum non conveniens or otherwise); additionally, you
            agree that you will not bring any such action, suit or proceeding in any court other
            than the Courts. This Agreement constitutes the entire agreement between the parties
            with respect to the subject matter hereof, and supersedes all previous written or
            oral agreements between the parties with respect to such subject matter. If any
            inconsistency exists between the terms of this Agreement and any additional terms
            and conditions posted on the Service, such terms shall be interpreted as to eliminate
            any inconsistency, if possible, and otherwise, the additional terms and conditions
            shall control. If any provision of this Agreement is held invalid, illegal or unenforceable
            in any respect, (i) such provision shall be interpreted in such a manner as to preserve,
            to the maximum extent possible, the intent of the parties, (ii) the validity, legality
            and enforceability of the remaining provisions shall not in any way be affected
            or impaired thereby, and (iii) such decision shall not affect the validity, legality
            or enforceability of such provision under other circumstances</p>



</div>


		</div>
</div>
{% include "small-footer.html" %}
{% endblock %}
