body {
	background:#EEE url(body.png) repeat-x;
	font: 13px "Trebuchet MS", Arial, Verdana;
	padding-top:95px;
}
a {
	text-decoration:none;
	color:#3C769D;
}
h1 a,
p em a {
	display:block;
	overflow:hidden;
	text-indent:-1000px;
	position:absolute;
	top:0px; left:0px;
}
h1 a {
	background:#EEE url(markitup.png) no-repeat top left;
	width:245px; height:85px;
	top:28px; 
}
p em a {
	background:transparent url(jaysalvat.png) no-repeat 10% 50%;
	width:120px; height:28px;
	left:30px;
}